<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activate Your Account</title>


    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
</head>
<body>

<table>
    <thead>
    <tr>Created At</tr>
    <tr>Code</tr>
    <tr>Description</tr>
    <tr>Path</tr>
    </thead>
    <tbody>
    <#list urls as url>
        <tr>${url.createdAt}</tr>
        <tr>${url.createdAt}</tr>
        <tr>${url.createdAt}</tr>
        <tr>${url.createdAt}</tr>
    </#list>
    </tbody>
</table>

</body>
</html>